
<head>
    <meta charset="UTF-8">
    <title>Air360 - The Ultimate News Feed</title>

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'news/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'news/css/search.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/ico.png' %}"/>


</head>


<!------ navbar ---------->

<div class="small-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 date-sec">
        <div id="Date"></div>
      </div>
            <div class="col-lg-3 offset-lg-5">
        <div class="social-icon"> <a target="_blank" href="#" class=" fa fa-facebook"></a> <a target="_blank" href="#" class=" fa fa-twitter"></a> <a target="_blank" href="#" class=" fa fa-google-plus"></a> <a target="_blank" href="#" class=" fa fa-linkedin"></a> <a target="_blank" href="#" class=" fa fa-youtube"></a> <a target="_blank" href="#" class=" fa fa-vimeo-square"></a> </div>
      </div>
      </div>
          </div>
  </div>
        <div class="top-head left">
    <div class="container">
            <div class="row">
        <div class="col-md-6 col-lg-4">
                <h1>Air360 News<small>Get the latest News</small></h1>
              </div>
        <div class="col-md-6 col-lg-3 ml-auto admin-bar hidden-sm-down">
            <nav class="nav nav-inline"> <a href="#" class="nav-link"><span class="ping"></span><i class="fa fa-envelope-o"></i></a> <a href="#" class="nav-link"><i class="fa fa-bell-o"></i></a> <a href="#" class="nav-link">Hello, {{ request.user|title }} </a> <a href="{% url 'logout' %}" class="nav-link"><i class="fa fa-sign-out"></i> </a> <img class="img-fluid rounded-circle" src="{% static 'images/user.webp' %}"> </nav>
              </div>
      </div>
          </div>
  </div>





<section class="top-nav">
    <nav class="navbar navbar-expand-lg py-0">
        <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
            <ul class="nav navbar-nav ">
        <li class="nav-item"> <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item active"> <a class="nav-link" href="{% url 'custom-search' %}">Custom-News</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'mail' %}">Mail-Sender</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'about' %}">About</a> </li>
      </ul>
            <form action="{% url 'custom-results' %}" class="ml-auto">
        <div class="search">
                <input type="text" name="tag" class="form-control" maxlength="64" placeholder="Search" />
                <button type="submit" value="key" class="btn btn-search"><i class="fa fa-search"></i></button>
              </div>
      </form>
          </div>
  </div>
      </nav>
</section>










<section class="section-01">
  <div class="container">
<form action="{% url 'custom-results' %}" class="searchBox2">


            <input class="searchInput2"type="text" name="tag" placeholder="Search">
            <button type="submit" value="key" class="searchButton2">
                <i class="material-icons">
                    search
                </i>
            </button>

</form>
  </div>

</section>











